<!DOCTYPE html>
<html lang="de">
  <head>
    <% var e = p.episoden[indexEpisode] %>
    <meta charset="UTF-8" />
    <title>Episode: <%=e.titel %></title>
    <link rel="stylesheet" href="./css/flexbox.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <div id="mainundaside">
      <main>
        <div id="epinfo">
          <h2><%=e.titel %></h2>
          <p><%= e.beschreibung %></p>
        </div>
        <div id="audio">
          <audio controls="">
            <source src="<%= e.episodenTon.url %>" type="audio/ogg" />
            Ihr Browser unterstützt das audio-Element nicht.
          </audio>
        </div>
      </main>
      <%- include("aside.ejs",{p:p}) %>
    </div>
    <%- include("footer.ejs") %>
  </body>
</html>
