<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Detailseite Podcast</title>

    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/grid.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <main id="detailmain">
      <article id="info">
        <h2><%=p.titel %></h2>
        <hr />

        <%=p.beschreibung %>
        <br />
        Autor: <%=p.autor %> <br />
        Besitzer:
        <a href="http://<%=p.besitzerEmail %>"><%=p.besitzerName %></a>.
        <br />
        Kategorien: <%=p.kategorien %> <br />
        Letzes Update: <%=p.letztesUpdate %>
      </article>
      <img
        id="podcastimg"
        src="<%=p.bildURL %>"
        height="250"
        width="250"
        alt="Podcast Bild"
      />
      <article id="epliste">
        <h2>Episodenübersicht</h2>

        <table>
          <thead class="colored">
            <tr>
              <th>Titel</th>
              <th>Datum</th>
            </tr>
          </thead>
          <tbody>
            <%for(let e of p.episoden) {%>
            <tr>
              <td>
                <a href="./episode?pc=<%=index%>&ep=<%=p.episoden.indexOf(e)%>"
                  ><%=e.titel %></a
                >
              </td>
              <td><%=e.datum %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </article>
    </main>
    <%- include("aside.ejs",{p:p}) %> <%- include("footer.ejs") %>
  </body>
</html>
